parameters:
	level: 6
	paths:
		- app
	parallel:
		maximumNumberOfProcesses: 4
	excludePaths:
		- public
		- config/insights.php
	ignoreErrors:
		- '#Unsafe usage of new static#'
		- '#PHPDoc tag @mixin contains unknown class Eloquent.#'
		- '#Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist.#'
		- '#Attribute class JetBrains\\PhpStorm\\Pure does not exist.#'
		- '#Attribute class JetBrains\\PhpStorm\\Deprecated does not exist.#'
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
includes:
  - phpstan-baseline.neon